.card-card {
    background-color: rgb(255, 255, 255);
    box-shadow: 0 5px 10px -5px rgb(33, 33, 33, 0.75);
    border-radius: 10px;
    border: none;
    transition: 0.3s ease-out;
    cursor: pointer;
}
.card-card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 10px -5px rgb(33, 33, 33, 0.75);
}

.card-card .card-content {
    padding: 10px;
}

.card-card .card-overlay {
    position: absolute;
    background-color: rgb(35, 35, 35, 0.6);
    border-radius: 30px;
    padding: 3px;
    top: 5px;
    left: 5px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.card-card:hover .card-overlay {
  opacity: 1;
}

.card-card .collect-btn {
    margin-right: 5px;
}

.card-card .collect-btn, .card-card .save-btn {
    cursor: pointer;
    height: 2.5em;
    width: 2.5em;
    padding: 5px;
    border-radius: 50%;
    border: none;
    background-color: rgba(255, 255, 255, 0.99);
    transition: 0.3s ease;
}

.card-card .collect-btn:hover, .save-btn:hover {
    background-color: rgba(226, 226, 226, 0.99);

}

.card-card .card-image {
    width: fit-content;
    margin: 0 auto;
    position: relative;
}

.card-card .card-image img {
    max-width: 100%;
}