.card-card {
    background-color: rgb(255, 255, 255);
    box-shadow: 0 5px 10px -5px rgb(33, 33, 33, 0.75);
    border-radius: 10px;
    border: none;
    transition: 0.3s ease-out;
}
.card-card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 10px -5px rgb(33, 33, 33, 0.75);
}

.card-card .card-content {
    padding: 10px;
}

.card-card .card-btns {
    display: flex;
    justify-content: space-evenly;
    margin-top: 6px;
    gap: 10px;
}

.card-card .collect-btn, .card-card .save-btn {
    cursor: pointer;
    height: 2.5em;
    width: 50%;
    padding: 5px;
    border-radius: 10px;
    border: none;
    background-color: rgb(245, 245, 245);
    color: rgb(13, 13, 13);
    transition: 0.3s ease;
}

.card-card .collect-btn:active, .card-card .save-btn:active {
    transform: scale(0.95);
}


.card-card .collect-btn:hover, .save-btn:hover {
    background-color: rgba(226, 226, 226, 0.99);

}

.card-card .card-image {
    width: fit-content;
    margin: 0 auto;
}

.card-card .card-image img {
    max-width: 100%;
}