.card-card {
    background-color: rgb(255, 255, 255);
    box-shadow: 0 5px 10px -5px rgb(33, 33, 33, 0.75);
    border-radius: 10px;
    border: none;
    transition: 0.3s ease-out;
    cursor: pointer;
}
.card-card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 10px -5px rgb(33, 33, 33, 0.75);
}

.card-content {
    padding: 10px;
}

.card-image img {
    max-width: 100%;
}