/* Additional info starts */
.card-additional-info {
    background-color: rgb(255, 255, 255);
    padding: 20px;
    box-shadow: 0 5px 10px -5px rgb(33, 33, 33, 0.75);
    margin: 20px auto 10px;
    border-radius: 10px;
    max-width: calc(100% - 40px);
}

/* Set info starts */
.card-details .info-subheader {
    font-size: large;
    text-shadow: 0 0 0.2em white;
    padding: 5px;
    background-color: rgb(245, 245, 245);
    border-radius: 10px;
    color: rgb(13, 13, 13);
}

.card-details .set-card {
    margin: 10px 0;
}

.card-details .card-set img {
    width: 50%;
}

.card-details .card-related p {
    margin-top: 10px;
}

.card-set .set-card:hover {
    transform: scale(1.02);
}

@media (max-width: 725px) {
    .card-details .card-set img {
        width: 80%;
    }
}

@media (max-width: 500px) {
    .card-details .card-set img {
        width: 100%;
    }

    .card-details .card-set h2 {
        font-size: larger;
    }
}